{% extends 'base.html' %}
{% block title %}
    Activation email sent
{% endblock %}

{% block content %}
    <div class="row m-3">
        <div class="col-md-12">
            <div class="card p-4">
                <div class="card-body text-center">
                    <p class="text-info">
                        An activation link has been sent, to your email.
                        If you did not receive the link, please check your email
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}