{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block title %}
    User Login
{% endblock %}

{% block content %}
    <div class="row justify-content-center m-3">
        <div class="col-md-8">
            <div class="text-center h3">
                {% trans "Welcome Back" %}
            </div>
            <div>
                {% crispy form %}
            </div>
            <div class="text-primary text-center mt-3">
                <a href="{% url 'accounts:user-registration' %}" class="text-decoration-none">
                    {% trans "Don't have an account? Register" %}
                </a>
            </div>
        </div>
    </div>
{% endblock %}