{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block title %}
    Reset your password
{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card mt-3 mb-3 p-4">
                <div class="card-body ">
                    <div class="card-text text-primary mb-3">
                        Forgot your password?<br>
                        Enter the email you registered with, and we'll send you a reset link
                    </div>
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="text-center">
                            <input type="submit" class="btn btn-success" value="Reset">
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
{% endblock %}