{% extends 'base.html' %}
{% load i18n %}

{% block styles %}
    <style>
        .profile-container {
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
            padding: 40px;
            width: 95%; /* Adjust the width of profile container */
            max-width: 800px; /* Adjust the maximum width of profile container */
            display: flex;
            flex-wrap: wrap;
            align-items: center;
        }

        .profile-pic {
            width: 250px; /* Increase the size of the profile picture */
            height: 250px; /* Increase the size of the profile picture */
            border-radius: 50%;
            object-fit: cover;
            margin-bottom: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }

        .profile-info {
            flex: 1;
            margin-left: 30px;
        }

        .profile-info h3 {
            margin-bottom: 20px;
            font-size: 24px;
            color: #333;
        }

        .info-list {
            list-style: none;
            padding: 0;
            margin-bottom: 20px;
        }

        .info-list li {
            margin-bottom: 10px;
            color: #666;
        }

        .label {
            font-weight: bold;
            color: #007bff;
            margin-bottom: 5px;
        }

        .btn-update {
            background-color: #007bff;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            width: 100%; /* Full width for the update button */
            transition: background-color 0.3s ease;
        }

        .btn-update:hover {
            background-color: #0056b3;
        }

        @media (max-width: 768px) {
            .profile-container {
                width: 90%; /* Adjust the width of profile container for smaller screens */
            }

            .profile-pic {
                width: 150px; /* Adjust the size of the profile picture for smaller screens */
                height: 150px; /* Adjust the size of the profile picture for smaller screens */
            }

            .profile-info {
                margin-left: 0;
                margin-top: 20px;
            }

            .info-list li span:first-child {
                width: auto; /* Adjust width for smaller screens */
            }
        }
    </style>
{% endblock %}

{% block content %}
  <div class="row justify-content-center align-content-center">
    <div class="col-md-10">
      <div class="profile-container">
        <img src="{{ user.image.url }}" class="profile-pic" alt="Profile Picture">
        <div class="profile-info">
          <h3>{% trans "Profile Information" %}</h3>
          <ul class="info-list">
            <li>
              <span class="label">{% trans "Username:" %}</span><br>
              <span id="username">{{ user.get_full_name | default:user.username | title }}</span>
            </li>
            <li>
              <span class="label">{% trans "Email:" %}</span><br>
              <span id="email">
                <a href="mailto://{{ user.email }}" class="text-primary text-decoration-none">{{ user.email }}</a>
              </span>
            </li>
            <li>
              <span class="label">{% trans "Bio:" %}</span><br>
              <span id="bio">
                {{ user.bio | default:"{% trans 'No bio available' %}" | linebreaks }}
              </span>
            </li>
            <li>
              <span class="label">{% trans "Country:" %}</span><br>
              <span id="country">
                {{ user.country | default:"{% trans 'No country available' %}" }}
              </span>
            </li>
            <li>
              <span class="label">{% trans "Contact:" %}</span><br>
              <span id="contact">{{ user.contact|default:"{% trans 'Not Available' %}" }}</span>
            </li>
            <li>
              <span class="label">{% trans "Address:" %}</span><br>
              <span id="address">
                {{ user.address | default:"{% trans 'No address available' %}" }}
              </span>
            </li>
          </ul>
          <a href="{% url 'accounts:profile-update' user.id %}" class="btn btn-update">{% trans "Update Profile" %}</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}


