{% load i18n %}
<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-success navbar-dark sticky-top" id="navigation">
    <!-- Container wrapper -->
    <div class="container-fluid">
        <!-- Navbar brand -->
        <a class="navbar-brand" href="{% url 'shop:index' %}">{% trans "Online Shop" %}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarDropdown"
                aria-expanded="false" aria-label="{% trans "Toggle Navigation" %}">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarDropdown">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownLink" role="button"
                       data-bs-toggle="dropdown"
                       aria-expanded="false">
                        {% trans 'Choose Language' %}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownLink">
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}

                        {% for language in languages %}
                            <li>
                                <a href="/{{ language.code }}/" {% if language.code == LANGUAGE_CODE %}
                                   class="dropdown-item active" {% else %} class="dropdown-item"
                                {% endif %} >{{ language.name_local }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </div>
        <ul class="navbar-nav d-flex flex-row me-1">
            <li class="nav-item me-3 me-lg-0">
                <a class="nav-link text-white position-relative m-3" style="height: 2rem;"
                   href="{% url 'shop:shopping_cart' %}">
                    <i class="bi bi-cart2" style="font-size: large;"></i>
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                           <span id="cart-total">{{ basket|length }}</span>
                    </span>
                </a>

            </li>
        </ul>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                   aria-expanded="false">
                    <img src="https://robohash.org/peter" alt="{% trans "Profile Picture" %}" class="rounded-circle bg-white" width="32"
                         height="32">
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    {% if request.user.is_authenticated %}
                        <li><a href="{% url 'accounts:user-logout' %}" class="dropdown-item">{% trans "Logout" %}</a></li>
{#                        {{ request.user.country.unicode_flag }}#}
                    {% else %}
                        <li><a href="{% url 'accounts:user-login' %}" class="dropdown-item">{% trans "Login" %}</a></li>
                    {% endif %}

                    <li><a class="dropdown-item" href="#">{% trans "Profile" %}</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">{% trans "Settings" %}</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
