{% extends 'base.html' %}
{% load i18n %}
{% load thumbnail %}

{% block content %}
    <div class="row">
        <div class="col-lg-3  mt-4 search-box">
            <div id="search-filter-container">
                <form action="{% url 'shop:index' %}">
                    <div class="input-group mb-3">
                        <label for="search_product_input" class="h4 mb-4">{% trans "Search Products" %}</label>
                        <input type="text" class="form-control w-100" id="search_product_input"
                               placeholder="{% trans "Search products..." %}" name="search_query">
                        <button class="btn btn-outline-secondary my-3 w-100" type="submit">{% trans "Search" %}</button>
                    </div>
                </form>
                <h4 class="mb-4">{% trans "Filter by Category" %}</h4>
                <div class="list-group mb-4 category-filter">
                    <button type="button" class="list-group-item list-group-item-action active" aria-current="true"
                            value="">
                        {% trans "All Categories" %}
                    </button>
                    {% for category in categories %}
                        <a href="/{{ category.slug }}" class="list-group-item list-group-item-action"
                           data-value="{{ category.id }}">
                            {{ category.name }}
                        </a>
                    {% empty %}
                        <button type="button" class="list-group-item list-group-item-action" disabled>
                            {% trans "No Categories Found" %}
                        </button>
                    {% endfor %}
                </div>

            </div>
        </div>

        <div class="col-lg-9">
            <h2 class="mb-4 text-center">{{ page_description }}</h2>
            <div class="row">
                {% for product in products %}
                    <div class="col-lg-4 mb-4">
                        <div class="card overflow-hidden" style="max-height: 400px;">
                            <a href="{{ product.get_absolute_url }}">
                                {% thumbnail product.image "x200" as im %}
                                    <img src="{{ im.url }}" class="card-img-top" alt="{{ product.title }}"
                                         style="height: 200px; object-fit: cover; object-position: center;">
                                    {#                                <img src="{{ product.get_image_url }}" class="card-img-top" alt="{{ product.title }}">#}
                                {% endthumbnail %}
                            </a>
                            <div class="card-body">
                                <h5 class="card-title">{{ product.title }}</h5>
                                <p class="card-text">
                                    {% trans "Price:" %} Ksh.{{ product.price|floatformat:"2" }}
                                </p>
                                <div class="d-flex flex-column justify-content-between align-items-center text-center">
                                    <a href="{{ product.get_absolute_url }}"
                                       class="btn btn-primary btn-block">{% trans 'View Details' %}
                                    </a>
                                    <button class="btn btn-primary btnAddToCart mt-2 btn-block"
                                            data-id="{{ product.id }}">
                                        {% trans 'Add to Cart' %}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <p class="text-dark text-center">{% trans "OOPS! No Products Found" %}</p>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- Pagination -->
    <nav class="mt-5" aria-label="{% trans "Page navigation" %}">
        {% include 'pagination.html' with queryset=products %}
    </nav>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            const btnAddToCart = Array.from(document.getElementsByClassName('btnAddToCart'));

            btnAddToCart.forEach(btn => {
                btn.addEventListener('click', e => {
                    e.preventDefault();
                    console.log('Clicked');
                    let product_id = e.target.dataset.id;

                    $.ajax({
                        url: "{% url 'shop:add_to_cart' %}",
                        method: "POST",
                        data: {
                            action: "add",
                            quantity: 1,
                            product_id: product_id,
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                        },
                        success: data => {
                            $("#cart-total").text(data['total_items']);
                        },
                        error: err => {
                            console.log(err);
                        }
                    });
                });
            });
        });
    </script>
{% endblock %}
