{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <div class="row mt-3 mb-3 text-center">
        <div class="col-md-12">
            <P class="h3">{% trans "Thanks for Visiting Our Shop" %}</P>
        </div>
    </div>
    <div class="row mt-3 mb-3">
        <div class="col-md-3">
            <div class="mb-3">
                <form method="get" action="{% url 'shop:index' %}">
                    <label for="searchproduct">{% trans "Search for a product" %}</label>
                    <input type="text" name="search_product" class="form-control w-100"
                           id="searchproduct" placeholder="{% trans 'Type in to search...' %}" value="{{ query }}"
                    >
                    <input type="submit" class="btn btn-success mt-3 w-100" id="btnSearch" value="{% trans 'Search ...' %}" required>
                </form>

            </div>
            <div>
                <div class="card">
                    <div class="card-header">
                        <p class="text-primary text-center">{% trans "Categories" %}</p>
                    </div>

                    <div class="card-body p-0 m-0 text-center border-0">
                        <ul class="list-group bottom-0">
                            <li class="list-group-item">
                                <a href="{% url 'shop:index' %}" class="text-decoration-none text-dark">{% trans "All" %}</a>
                            </li>
                            {% for category in categories %}
                                <li class="list-group-item">
                                    <a href="{% url 'shop:product_list_by_category' category.slug %}"
                                       class="text-decoration-none text-dark">
                                        {{ category.name }}
                                    </a>
                                </li>
                            {% empty %}
                                <p class="card-text">{% trans "No Categories Founds" %}</p>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-9">

            <div class="row justify-content-evenly">
                {% for product in products %}
                    <div class="col-md-3">
                        <div class="card mb-3">
                            <a href="{{ product.get_absolute_url }}">
                                <img src="{{ product.get_image_url }}" class="card-img-top" alt="{{ product.title }}">
                            </a>
                            <div class="card-body text-center text-dark">
                                <p class="card-text">
                                    {{ product.title }}
                                    <br>
                                    <br>
                                    {% trans "Price:" %} Ksh.{{ product.price|floatformat:"2" }}
                                </p>
                                <button class="btn btn-primary btnAddToCart" data-id="{{ product.id }}">{% trans 'Add to Cart' %}
                                </button>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <p class="text-dark text-center">{% trans "OOPS! No Products Founds" %}</p>
                {% endfor %}
            </div>

        </div>


    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            const btnAddToCart = Array.from(document.getElementsByClassName('btnAddToCart'))

            {% comment %}
            const btn_search = document.querySelector('#btnSearch')
            const search_query = document.querySelector('#searchproduct')

            btn_search.addEventListener('click', e => {
                e.preventDefault()
                const query = search_query.value

                if (query === "") {
                    search_query.classList.add('input-required')
                } else {
                    search_query.classList.remove('input-required')

                    $.ajax({
                        url: "{% url 'shop:product-search' %}",
                        method: "GET",
                        data: {
                            product_query: query
                        },
                        success: data => {
                            console.log(data['message'])
                        },
                        error: err => {
                            console.log(err)
                        }


                    })

                }
            })
{% endcomment %}

            //console.log(cartTotal.innerHTML==="41")
            btnAddToCart.forEach(btn => {
                btn.addEventListener('click', e => {
                    e.preventDefault()
                    console.log('Clicked')
                    let product_id = e.target.dataset.id

                    $.ajax({
                        url: "{% url 'shop:add_to_cart' %}",
                        method: "POST",
                        data: {
                            action: "add",
                            quantity: 1,
                            product_id: product_id,
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                        },
                        success: data => {
                            $("#cart-total").text(data['total_items'])
                        },
                        error: err => {
                            console.log(err)
                        }
                    })


                })
            })

        })


    </script>
{% endblock %}
{% block styles %}
    <style>
        .card-img-top {
            height: 200px;
            object-fit: cover;
        }

        /*
         .input-required {
             border-color: red;
         }*/
    </style>
{% endblock %}
